* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body {
    background: #FDFDF0
}

.metaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px auto;
    text-align: center;
    font-family: fantasy;
}

.innerContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
}
#filterBar {
    display: flex;
    flex-wrap: wrap;
    background: lavender;
    padding: .5em;
    border-radius: 5px;
}

.encounterTable {
    width: 28%;
    margin: 0 1%;
    min-height: 200px;
    background: azure;
    display: inline-flex;
    position: sticky;
    top: 10px;
    align-self: flex-start;
}

tbody {
    width: 100%;
}

#encounterHeader,
.encounterRow {
    width: 100%;
    text-align: left;
}

.encounterTable tr :first-child {
    width: 75%;
}

.encounterTable tr :last-child {
    width: 25%;
}

.searchContainer {
    width: 65%;
    right: 0;
    margin: 0 1%;
}

#searchResults {
    width: 100%;
    margin-top: 10px;
    border-spacing: 0;
}

#searchResults td {
    border-top: 5px solid #FDFDF0;
}

#searchHeader,
.searchResult {
    width: 100%;
    height: 45px;
    padding: 5px;
    background: linen;
    margin-top: 10px;
    border-radius: 5px;
    vertical-align: middle;
}

#searchHeader * {
    text-align: left;
    border-bottom: 1px solid goldenrod;
}

.searchResult :first-child {
    width: 40%;
}

#searchResults tr :last-child {
    text-align: right;
    width: 30px;
}

tr * {
    padding: 5px;
}
