* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body,
select,
input {
    background: linen
}

.metaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px auto;
    text-align: center;
    font-family: fantasy;
}

.innerContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

/* ------------------- Encounter table formatting ------------------- */
.encounterTable {
    width: 28%;
    margin: 0 1%;
    min-height: 200px;
    background: #C1E6EB;
    display: inline-flex;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    border-radius: 5px;
    table-layout: fixed;
}

tbody {
    width: 100%;
}

.encounterTable tr {
    width: 100%;
    text-align: left;
}

.encounterTable tr > :first-child {
    width: 65%;
}

.encounterTable tr > :last-child {
    width: 35%;
}

#partyInput select {
    margin: 0 auto;
}

/* ------------- search formatting ------------------ */

.searchContainer {
    width: 65%;
    right: 0;
    margin: 0 1%;
}

#filterBar {
    display: flex;
    flex-wrap: wrap;
    background: #DDBEA8;
    border-radius: 5px;
}

#searchIn {
    border-style: solid;
    border-width: 1px;
}

#searchResults {
    width: 100%;
    margin-top: 10px;
    border-spacing: 0;
    border-radius: 5px;
    background: #F3DFC1;
}

#searchResults td {
    border-top: 1px solid goldenrod;
}

#searchHeader {
    position: sticky;
    top: 0;
    background: #F3DFC1;
    z-index: 2;
}

#searchHeader,
.searchResult {
    width: 100%;
    height: 45px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    vertical-align: middle;
}

#searchHeader * {
    text-align: left;
    border-bottom: 3px solid goldenrod;
}

.orderBtn {
    cursor: pointer;
}

#orderName {
    text-decoration: underline;
}

.searchResult :first-child {
    width: 40%;
}

#searchResults tr :last-child {
    text-align: right;
    width: 30px;
}

tr * {
    padding: 5px;
}

.fas {
    transition: .2s;
    cursor: pointer;
}

.fas:hover {
    color: rebeccapurple;
    transform: scale(1.2)
}

/* ------------- Info card formatting -------------- */
#infoCard {
    display: flex;
    position: fixed;
    width: 400px;
    max-height: 500px;
    margin: 10vh 30%;
    right: 0;
    background: #DDBEA8;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 5px;
    transform: scale(.25);
    transition: .1s;
    z-index: 100;
    cursor: pointer;
}

#infoCard::-webkit-scrollbar {
    background-color: #DDBEA8;
    width: 0.5em;
}

#infoCard table {
    border-top: 2px solid black;
}

#infoCard div {
    width: 95%;
    margin-top: 10px;
}

span {
    margin: 0;
    padding: 0;
}

#infoCard div h4 {
    border-bottom: 1px solid black;
}

#cardBasics {
    width: 95%;
}

#cardBasics * {
    padding: 5px 0;
}

#cardBasics th {
    width: 10%;
}

#cardBasics td {
    width: 40%
}

#cardAbilityScores {
    width: 95%;
    text-align: center;
    border-bottom: 2px solid black;
}

#cardTraits {
    border-bottom: 1px solid black;
    padding: 2px 0;
}

@media (max-width: 750px) {
    .innerContainer {
        flex-direction: column;
        align-items: center;
    }

    .encounterTable {
        width: 60%;
        margin: 10px auto;
        position: inherit;
    }

    .searchContainer {
        width: 95%;
    }

    #infoCard {
        width: 80vw;
        max-height: 80vh;
        margin: 10vh 10vw;

    }

    .encounterTable tr > :first-child {
        width: 75%;
    }

    .encounterTable tr > :last-child {
        width: 25%;
    }

}
